





<form action="result2" method="GET">
   
   <label for="id">Search</label>
   <input type="text" name="id" id="search"/>


   <input type="submit"/>

</form>

<br />

<h2>Local Government Result Search</h2>

<form action="result" method="GET">
   
   <label for="search">Search</label>
   <input type="text" name="search" id="search"/>


   <input type="submit"/>

</form>