{{#each data}}

   <table border="1" style="border-collapse: collapse">

        <tr>

            <td>LGA ID</td>
            <td>TotalNumber</td>
        </tr>


        <tr>


            <td>{{lga_id}}</td>
            <td>{{TotalResult}}</td>
        </tr>
       
   </table>

{{/each}}


